<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tarefa Fácil</title>
</head>
<body>
    <h1>Minha Lista de Tarefas</h1>

    <!-- Formulário para informar a tarefa -->
    <form method="POST" action="/adicionar">
        <input type="text" name="descricao" placeholder="Nova tarefa">
        <button type="submit">Adicionar</button>
    </form>
    
</body>
</html>